{% extends 'base.html' %}
{% load static %}

{% block content %}


<script>

$(document).ready(function(){
  $("#hide").click(function(){
    $("#sidebarContentMobile").animate({width: "hide"});
  });
  $("#show").click(function(){
    $("#sidebarContentMobile").animate({width: "show"});
  });
  $("#allpages").click(function(){
    $("#sidebarContentMobile").animate({width: "hide"});
  });
});


</script>



{% if is_mobile%}
<div id="show" class="pt-2 pb-2" style="background-color: grey; width: 100%; text-align: center;">Menu</div>

<div id="sidebarContentMobile" class="u-sidebar">
	<div class="u-sidebar__scroller">
		<div class="u-sidebar__container">
			<div class="u-sidebar--panel__footer-offset">
				<!-- Toggle Button -->
				<div class="d-flex align-items-center border-bottom py-4 px-5">
				    <h4 class="h5 mb-0">Account</h4>
				    <button type="button" id="hide" class="close u-sidebar__close ml-auto">
              <span aria-hidden="true">×</span>
            </button>
				</div>
				<!-- End Toggle Button -->

				<!-- Content -->
				<div class="u-sidebar__content py-5">
				<!-- Title -->
				<div class="py-2 px-5">
				    <h4 class="text-uppercase text-muted font-size-13 mb-0">Menu</h4>
				</div>
				<!-- End Title -->

				<!-- List -->
				<div class="list-group"  role="tablist">
				              
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5 active" href="{% url 'choosemybonus_view' %}" >
				    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/touch-dark-icon.svg' %}" alt="Image Description">
				    <div class="media-body">
				        <span>Choose my Bonus</span>
				    </div>
				    </a>
				                
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="{% url 'myhistory_view' %}" >
				    	<img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/finance-dark-icon.svg' %}" alt="Image Description">
				    	<div class="media-body">
				        	<span>My History</span>
				    	</div>
				    </a>
				                
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5" id="list-messages-list" href="{% url 'personalprofile_view' %}" >
				        <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/team-dark-icon.svg' %}" alt="Image Description">
				        <div class="media-body">
				            <span>Personal Profile</span>
				        </div>
				    </a>
				    {% if request.user.is_superuser %}
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5"  id="list-settings-list" href="{% url 'adminconfiguration_view' %}">
				        <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/email-dark-icon.svg' %}" alt="Image Description">
				        <div class="media-body">
				            <span>Admin Configuration</span>
				        </div>
				    </a>

				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5"  id="list-settings-list" href="{% url 'generatewinners_view' %}">
				        <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/email-dark-icon.svg' %}" alt="Image Description">
				        <div class="media-body">
				            <span>Generate Winners</span>
				        </div>
				    </a>
				                
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5" id="vouchers-configuration-list" href="{% url 'vouchersconfiguration_view' %}">
				        <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/projects-dark-icon.svg' %}" alt="Image Description">
				        <div class="media-body">
				            <span>Vouchers Configuration</span>
				        </div>
				    </a>
				    {% endif %}
				    <!-- End List -->

				    <!-- Title -->
				    <div class="py-2 px-5">
				        <h4 class="text-uppercase text-muted font-size-13 mb-0">Settings</h4>
				    </div>
				    <!-- End Title -->

				    <!-- List -->
				    <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="{% url 'settingsconfiguration_view' %}">
				        <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/cog-dark-icon.svg' %}" alt="Image Description">
				        <div class="media-body">
				            <span>Settings</span>
				        </div>
				    </a>
				          
				    <!-- End List -->
				</div>
			</div>
		</div>
		</div>
	<!-- End Content -->
	</div>			      
</div>
{% endif %}




<div class="container">
	<div class="row">
		{% if is_mobile == False%}
		<div class="col-3 col-sm-3 col-md-3">
				<br>
				<div id="sidebarContent" class="u-sidebarpc">
				    <div class="u-sidebar__scroller">
				      <div class="u-sidebar__container">
				        <div class="u-sidebar--panel__footer-offset">
				          <!-- Toggle Button -->
				          <div class="d-flex align-items-center border-bottom" >
				            <div class="row" style="align-items: center; width: 100%; ">
							    <div class="col-5" >
							     <!-- <img src="{% static 'images/profile-icon.png' %}" width="100%" class="image-circle"> -->
							     <div class="image-circle mb-3">{{ user.first_name|slice:"0:1" }}{{ user.last_name|slice:"0:1" }}</div>
							    </div>
							    <div class="col-7" >
							      <h6 class="text-uppercase text-muted  mb-0">{{ user.get_full_name }}</h6>
							      {{user_favoritecountry}}
							    </div>
				            </div>
				          </div>
				          <!-- End Toggle Button -->

				          <!-- Content -->
				          
				            <div class="u-sidebar__content ">
				              <!-- Title -->
				              <div class="py-2 px-5">
				                <h4 class="text-uppercase text-muted font-size-13 mb-0">Menu</h4>
				              </div>
				              <!-- End Title -->

				              <!-- List -->

				              <div class="list-group"  role="tablist">
				              
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5 active" href="{% url 'choosemybonus_view' %}" >
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/touch-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Choose my Bonus</span>
				                    </div>
				                  </a>
				                
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="{% url 'myhistory_view' %}" >
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/finance-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>My History</span>
				                    </div>
				                  </a>
				                
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5" id="list-messages-list" href="{% url 'personalprofile_view' %}">
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/team-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Personal Profile</span>
				                    </div>
				                  </a>
				               {% if request.user.is_superuser %}
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5"  id="list-settings-list" href="{% url 'adminconfiguration_view' %}">
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/email-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Admin Configuration</span>
				                    </div>
				                  </a>

				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5" id="vouchers-configuration-list" href="{% url 'generatewinners_view' %}" >
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/projects-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Generate Winners</span>
				                    </div>
				                  </a>
				                
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5" id="vouchers-configuration-list" href="{% url 'vouchersconfiguration_view' %}" >
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/projects-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Vouchers Configuration</span>
				                    </div>
				                  </a>
				               {% endif %}
				              <!-- End List -->

				              <!-- Title -->
				              <div class="py-2 px-5">
				                <h4 class="text-uppercase text-muted font-size-13 mb-0">Settings</h4>
				              </div>
				              <!-- End Title -->

				              <!-- List -->
				                  <a class="media align-items-center u-sidebar--panel__link py-2 px-5" href="{% url 'settingsconfiguration_view' %}">
				                    <img class="max-width-4 mr-3 mCS_img_loaded" src="{% static 'svg/cog-dark-icon.svg' %}" alt="Image Description">
				                    <div class="media-body">
				                      <span>Configuration</span>
				                    </div>
				                  </a>
				          
				              <!-- End List -->
				            </div>
				          </div>
				      </div>
				      </div>

				          <!-- End Content -->
				        </div>

				      
				  </div>


		</div>
		{% endif %}
		<!-- Column with everypages-->
		 <div class="col-12 col-sm-9 col-md-9" id="allpages">
		 	<br>
		 	<div class="tab-content" id="nav-tabContent">
		      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
		      	{% block contentMyAccount %}

				{% endblock   %}

		      	
		    </div>
		 </div>
    	</div>
	</div>
</div>



<br>
<!--
<div class="container">
	<div class="row">
	  <div class="col-3">
	   <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Choose my Bonus</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">My History</a>
	      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Personal Profile</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
	      {% if request.user.is_superuser %}
	      <a class="list-group-item list-group-item-action" id="list-settings-list" href="#" data-toggle="list" role="tab" aria-controls="settings">Admin Configuration</a>
	      <a class="list-group-item list-group-item-action" id="vouchers-configuration-list" data-toggle="list" href="#vouchers-configuration" role="tab" aria-controls="settings">Vouchers Configuration</a>
	      {% endif %}
	    </div>
	  </div>
	  <div class="col-8">
	    <div class="tab-content" id="nav-tabContent">
	      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
	      	<p>This is a paragraph.</p>
			<p>This is another paragraph.</p>
	      	<div class="titleMyAccount">Choose my bonus</div>
			<br>
			<div class="textMyAccount">We help you to choose the best airline company to fly with. Please select the country where you would like to travel</div>
			<br>	
			
			<div class="container">
				<div class="row" style="height: 200px">
					<div id="map1" style="width: 100%; height: 100%"></div>
				</div>
			</div>
			<br>
			<div class="textMyAccount">Please choose one of the choices bellow</div>
			<br>
	      	<div class="container">
			  <div class="row">
				    <div class="col">
				    	<input type="radio" name="size" id="size_1" value="small" checked />
				    	<label for="size_1" ><img src="{% static 'images/TAPLogo.png' %}" width="100%" height="100%"></label>
				    </div>
				    <div class="col">
				    	<input type="radio" name="size" id="size_2" value="small" />
						 <label for="size_2"><img src="{% static 'images/EasyJetLogo.png' %}" width="100px" height="100px"></label>
				    </div>
				    <div class="col">
				    	<input type="radio" name="size" id="size_3" value="small" />
						 <label for="size_3"><img src="{% static 'images/RyanairLogo.png' %}" width="100px" height="100px"></label>
				    </div>
				    <div class="col">
				    	<input type="radio" name="size" id="size_4" value="small" />
						 <label for="size_4"><img src="{% static 'images/EmiratesLogo.png' %}" width="100px" height="100px"></label>
				    </div>
				    <div class="col">
				    	<input type="radio" name="size" id="size_5" value="small" />
						 <label for="size_5"><img src="{% static 'images/EmiratesLogo.png' %}" width="100px" height="100px"></label>
				    </div>
				    <div class="col">col</div>
				    <div class="col">col</div>
				    <div class="col">col</div>
				</div>
			</div>



	      </div>
	      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
	      	<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Note:</strong> You should check in on some of those fields below.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
	      </div>
	      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...c..
	      </div>

	      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">..ddd.</div>

	      {% if request.user.is_superuser %}
	      <div class="tab-pane fade" id="admin-configuration" role="tabpanel" aria-labelledby="list-settings-list">

	      	{% if text_error|length > 0 %}
		      	<div class="alert alert-danger" role="alert">
				  <b>Alert:</b> {{ text_error }}
				</div>
			{% elif saveresult == True %}
		      	<div class="alert alert-success" role="alert">
				  <b>Success:</b> Your company was submited with success.
				</div>
			{% endif %}
	      	<h3>Create a new Company</h3>
	      	<br>
	      	Fill all the form to create a new company and submit
	      	<br><br>
		      	<form method="POST" action="{% url 'createcompany' %}">
	            {% csrf_token %}
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.idcode }}
	                  <button onclick="document.getElementById('idcode').value = getRandom()">Generate Code</button>
	                    <div class="errorField">{{ form.idcode.errors.as_text }}</div>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.name }}
	                    <div class="errorField">{{ form.name.errors.as_text }}</div>
	                </div>
	                <div class="form-group col-md-6">
	                  {{ form.city }}
	                    <div class="errorField">{{ form.city.errors.as_text }}</div>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.country }}
	                    <div class="errorField">{{ form.country.errors.as_text }}</div>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.defaultemail }}
	                    <div class="errorField">{{ form.defaultemail.errors.as_text }}</div>
	                </div>
	                <div class="form-group col-md-6">
	                  {{ form.phonenumber }}
	                    <div class="errorField">{{ form.phonenumber.errors.as_text }}</div>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.nifnumber }}
	                    <div class="errorField">{{ form.nifnumber.errors.as_text }}</div>
	                </div>
	                <div class="form-group col-md-6">
	                  {{ form.numberemployees }}
	                    <div class="errorField">{{ form.numberemployees.errors.as_text }}</div>
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="form-group col-md-6">
	                  {{ form.active }}
	                    <div class="errorField">{{ form.active.errors.as_text }}</div>
	                </div>
	              </div>
	              

	              <br>

	              <button type="submit" class="buttonBecomePartner" >Create company</button>
	          </form>
	      </div>
		  <div class="tab-pane fade" id="vouchers-configuration" role="tabpanel" aria-labelledby="vouchers-configuration">..ddd.</div>
	      {% endif %}
	    </div>
	   
	  </div>
	</div>

</div>
-->


{% endblock %}