{% extends 'base.html' %}
{% load static %}

{% block title %} About us | LeisureBonus {% endblock %}

{% block content %}

<br>

<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 mt-4">
      	<h2>About Us</h2>
        	<br>
        	<div>
        		<p><b>The first plataform which help companies to give travel perks to all their employees.</b></p>

            <p>LeisureBonus was launched in June 2019, is plataform focusing on helping other companies to give benefits to their employees to reward them for their work. Founded in Portugal, Lisbon currenctly operates in Portugal, but also expanding globally.</p>

            <p>LeisureBonus is always free for costumers and we never charge any travel commission. We work directly with costumers's companies  who pay us a comission for using our plataform.</p>
        	</div>
      </div>
    </div>
  	<br>
  	<br>
  	


  	
  <div style="background-color: white; border-radius: 2px; 
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1); padding: 5%">
      <div class="row">
  			<br>
            <div class="col-12 col-md-6">
                <div class="row">
                	<div class="col-4">
                		<img alt="Image" src="{% static 'images/ourmission.png' %}" width="80%" align="center">
                	</div>
                	<div class="col-8">
                		<h5 class="title">Our Mission</h5>
  	                  We work to help people finding their perfect activity while enjoying their holiday.
  	              </div>
                </div>
                <br>
                <div class="row">
                	<div class="col-4">
                		<img alt="Image" src="{% static 'images/vision.png' %}" width="80%">
                	</div>
                	<div class="col-8">
                		<h5 class="title">Vision</h5>
  	                  We believe that everyone should have a healthy life. LeisureBonus gives people all the choices to get there.
  	              </div>
                </div>
                <br>
                <div class="row">
                	<div class="col-4">
                		<img alt="Image" src="{% static 'images/values.png' %}" width="80%">
                	</div>
                	<div class="col-8">
                		<h5 class="title">Values</h5>
  	                  Strong ethical principles, firm character, professional dedication and proven technical skills.
  	              </div>
                </div>
                <br>
                <div class="row">
                	<div class="col-4">
                		<img alt="Image" src="{% static 'images/morevalues.png' %}" width="80%">
                	</div>
                	<div class="col-8">
                		<h5 class="title">Recognition</h5>  
                      Acting with integrity and within the highest ethical standards is not negotiable. We do what is right and always keep our promises and we are recognized for that.
  	              </div>
                </div>
             <br>   
            </div>
            <div class="col-12 col-md-6">
              <div class="row p-2">
                <div class="card" >
                  <img src="{% static 'images/03.jpeg' %}" class="card-img" alt="...">
                </div>
              </div>
              <div class="row p-2">
                Through LeisureBonus we will help to improve relationships between companies and their employees. 
              </div>

            </div>
            <br>
        </div>
      </div>

  </div>
</section>


{% endblock %}