
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

     <link rel="stylesheet" href="{% static 'css/Main.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">

    <title>{% block title %}Refer your company | LeisureBonus{% endblock %}</title>
  </head>
  <body>
    

   
    <div>
    <!--<img src="{% static 'images/image3.jpg' %}"  width="100%" height="100%"><br>-->
    <img alt="Image" src="{% static 'images/image3.jpg' %}" class="bg-imagezero"><div class="overlay"></div>
    <div class="container-fluid" >
        <div class="row align-items-center" >
          <div class="col-sm" >
                  <a href="{% url 'home' %}" ><img src="{% static 'images/leisurebonusgrey.png' %}" id="image3" class="logolink" style="z-index: 100;"></a><br>
          </div>
        </div>
        <br>
        <br>
          <div class="row" >
              <div class="col-12 col-md-6">
                  <h3 class="TitleReferCompanyPage">Would you like to have LeisureBonus for your company?</h3>
                  <br>
                  <h5 class="SubTitleReferCompanyPage">Send us your company information and we will contact you to explain the conditions and next steps.
                  </h5>
                  <br><br>
              </div>
              <div class="col-12 col-md-5">
                  <div class="containerReferCompanyright">
                  <br>
                  {% if sentReference == False %}
                    <form method="POST" action="{% url 'refernewcompany' %}"> 
                        
                      {% csrf_token %}
                        
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.firstname }}
                              <div class="errorField">{{ form.firstname.errors.as_text }}</div>
                          </div>
                          <div class="form-group col-md-6">
                            {{ form.lastname }}
                              <div class="errorField">{{ form.lastname.errors.as_text }}</div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.corporateemail }}
                              <div class="errorField">{{ form.corporateemail.errors.as_text }}</div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.company }}
                              <div class="errorField">{{ form.company.errors.as_text }}</div>
                          </div>
                          <div class="form-group col-md-6">
                            {{ form.numberemployees }}
                              <div class="errorField">{{ form.numberemployees.errors.as_text }}</div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.myrole }}
                              <div class="errorField">{{ form.myrole.errors.as_text }}</div>
                          </div>
                          <div class="form-group col-md-6">
                            {{ form.department }}
                              <div class="errorField">{{ form.department.errors.as_text }}</div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            {{ form.phonenumber }}
                              <div class="errorField">{{ form.phonenumber.errors.as_text }}</div>
                          </div>
                        </div>

                        <br>

                        <button class="buttonBecomePartner" >Send Reference</button>
                    </form>
                    {% else %}
                      <div class="row justify-content-center">
                        <img src="{% static 'images/sentsuccessfully.png' %}" id="SentSuccess" width="100px" height="100px" style="z-index: 100;">
                      </div>
                      <div class="row justify-content-center">
                          <h3>Thank you for your contact</h3>
                      </div>
                      <div class="row justify-content-center">
                          <b>Your message was received.</b>
                      </div>
                      <div class="row justify-content-center">
                          We will evaluate your request and we will contact your company.
                      </div>
                      <br>
                      <hr class="style-two">
                      <div class="row justify-content-center">
                          <a href="{% url 'home' %}">Go back to home page</a>
                      </div>

                      <hr class="style-two">
                      <br>
                    {% endif %}
                   </div>
                   <br><br><br>
              </div>
          </div>
          <br>
      </div>
    </div>


    <br>
    <footer class="bg-gray text-light pt-5 pb-5"  >
        <div class="container" >
          <div class="row">
            <div class="col-12 col-md-3">
              <img src="{% static 'images/leisurebonusgrey.png' %}" class="mb-4 logolinkfooter">
              <p class="text-muted">
                © 2019 Leisure Bonus
              </p>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-9">
              <div class="row no-gutters">
                <div class="col-6 col-lg-3">
                  <h6>General</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="FooterLink" href="{% url 'howitworks' %}">How it works</a>
                    </li>
                    <li>
                      <a class="FooterLink" href="{% url 'about' %}">About us</a>
                    </li>
                  </ul>
                </div>
                <!--end of col-->
                <div class="col-6 col-lg-3">
                  <h6>Resources</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="FooterLink" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li>
                      <a class="FooterLink" href="{% url 'contactus' %}">Contact us</a>
                    </li>
                  </ul>
                </div>
                <!--end of col-->
                <div class="col-6 col-lg-3">
                  <h6>Legal</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="FooterLink" href="{% url 'termsconditions' %}">Terms & Conditions</a>
                    </li>
                    <li>
                      <a class="FooterLink" href="{% url 'privacypolicy' %}">Privacy Policy</a>
                    </li>
                    <li>
                      <a class="FooterLink" href="{% url 'cookiespolicy' %}">Cookies Policy</a>
                    </li>
                  </ul>
                </div>
                <!--end of col-->
              </div>
              <!--end of row-->
            </div>
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </footer>
    
  </body>
</html>